/*place global styles here */
html,
body {
	@apply h-full;
	--turbo-orange: #db6f57;
	--turbo-darkorange: #c85c44;
	--turbo-darkgray: #2d3142;
	--turbo-bar-size: 50px;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf');
}

:root {
	--theme-font-family-base: 'Quicksand', sans-serif;
	--theme-font-family-heading: 'Quicksand', sans-serif;
	/* ... */
}
