/*place global styles here */
@tailwind base;
html,
body {
	@apply h-full;
	--turbo-orange: #db6f57;
	--turbo-darkorange: #c85c44;
	--turbo-darkgray: #2d3142;
	--turbo-bar-size: 50px;
    background-color: #7c81d0;
    color: white;
}

@font-face {
	font-family: 'Archivo';
	src: url('/fonts/Archivo-VariableFont_wdth,wght.ttf');
}

:root {
    font-family: 'Archivo', sans-serif;
}
